/* ------------ AKTIVITY OBECNĚ -------------------- */
.aktivity {
  & a {
    font-weight: bold;
  }
}
.aktivity_hlavniNadpis {
  @extend .aktivita_nadpis;
  padding-top: 4vw;
  margin-bottom: 20px;
  @include media-breakpoint-down(lg) {
    padding-top: 0;
  };
}
.aktivity_nadpis_ikona {
  width: 39px;
  height: 39px;
}
.aktivity_nadpis_kruh {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .drop-shadow;
  width: 57px;
  height: 57px;
  margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, $purple-dark, $purple-light);
}
.aktivity_podnadpis {
  @extend h2;
  padding-top: 4vw;
}
.aktivity_zahlavi {
  margin: 36px 60px 0px 0px;
  @include media-breakpoint-down(xl) {
    margin: 36px 20px 0px 0px;
  }
  @include media-breakpoint-down(lg) {
    margin: 36px 60px 0px 60px;
  }
  @include media-breakpoint-down(sm) {
    margin: 36px 10px 0px 10px;
  }
}
.aktivity_zakladniInfo {
  @extend h5;
  line-height: 1.5;
  font-weight: 600;
  padding-right: 20px;
}

/* ------------ KONKRÉTNÍ AKTIVITA -------------------- */
.aktivita_cara {
  width: 300px;
  height: 2px;
  background-color: $gray-100;
  margin-bottom: 6px;
  display: inline-block;
}
.aktivita_info {
  overflow: hidden;
  width: 100%;
  padding-bottom: 12px;
  & table {
    font-size: $font-size-base * .8;
    color: $gray-700;
    line-height: 1.6;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    & td {
      padding: 0;
    }
  }
}
.aktivita_info-leva {
  text-align: left;
  float: left;
}
.aktivita_info-prava {
  text-align: right;
  float: right;
}
.aktivita_info_ikona_cas {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  text-align: right;
  margin-top: -1px;
}
.aktivita_info_ikona_cena {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  text-align: right;
}
.aktivita_info_ikona_delka {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  text-align: right;
}
.aktivita_info_tabulka_bunka-denAktivity {
  padding-right: 2px !important;
}
.aktivita_info_tabulka_bunka-prava {
  width: 40px;
  vertical-align: middle;
  text-align: left;
}
.aktivita_info_tabulka_bunka-ikona {
  padding: 4px 0px 0px 0px;
}
.aktivita_ikona_sipka_dolu{
  background: url(soubor('grafika/ikony/sipka_dolu.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  display: inline-block;
}
.aktivita_ikona_sipka_nahoru{
  background: url(soubor('grafika/ikony/sipka_nahoru.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  display: inline-block;
}
.aktivita_mobilniTlacitko {
  @extend .box_tlacitko-male;
  padding: 9px 39px;
  margin: 16px 0px;
  display: none;
  @include media-breakpoint-down(sm) {
    display: inline-block;
  }
}
.aktivita_nadpis {
  @extend .h3;
  display: flex;
  align-items: center;
}
.aktivita_nadpis-titulka {
  @extend .aktivita_nadpis;
  margin-top: 8px;
}
.aktivita_obrazek {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 203px;
}
.aktivita_obrazek-aktivity {
  @include media-breakpoint-down(xs) {
    display: none;
  };
}
.aktivita_obrazek-prekryv {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 360px;
  height: 203px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(soubor('grafika/titulka/cover-photo-overlay.svg'));
  background-size: 3px 3px, cover;
  background-position: center top;
  background-repeat: repeat, repeat;
  opacity: 0;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  & a:hover {
    color: $white;
  }
}
.aktivita_obrazek-tlacitko {
  margin-top: 132px;
  @extend .box_tlacitko-male;
}
.aktivita_popis {
  font-size: $font-size-sm * 1.1;
  color: $gray-700;
  & p {
    font-size: $font-size-sm * 1.1;
    color: $gray-700;
  }
}
.aktivita_sekce {
  font-size: $font-size-sm;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $gray-300;
  text-align: left;
}
.aktivita_tagy {
  padding-bottom: 8px;
}
.aktivita_tag {
  font-size: $font-size-xs;
  font-weight: 700;
  display: inline-block;
  background-color: $gray-50;
  padding: 4px;
}
.aktivita_tlacitko-prihlasit {
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
    margin: 10px 0px;
  }
}
.aktivita_vlajecky {
  position: absolute;
  top: 30px;
}
.aktivita_vlajecka {
  display: inline-block;
  color: $white;
  font-size: $font-size-xs;
  font-weight: 600;
  padding: 5px 10px 5px 20px;
  background-color: $black;
  margin-top: 5px;
}
.aktivita_vypravec {
  font-size: $font-size-sm;
  font-weight: 600;
  text-align: left;
  padding-bottom: 8px;
  & span {
    color: $gray-300;
    font-weight: normal;
  }
}
