.blog_AutorADatum {
  @extend .aktivita_sekce;
  margin: 14px 0px;
}

.blog_popis {
  margin: 18px 0px;
  font-size: $font-size-base;
  color: $gray-700;
  line-height: 1.6;
  & p {
    font-size: $font-size-base;
    color: $gray-700;
  }
}

.blog_tlacitko {
  @extend .box_tlacitko-male;
  @include media-breakpoint-down(sm) {
    display: inline-block;
  };
}

.blog_obrazek {
  max-height: 320px;
  max-width: 92%;
  float: right;
  margin-right: 40px;
  @include media-breakpoint-down(sm) {
    margin-right: 0;
    max-width: 100%;
    float: none;
  };
}
