.novinka_nadpis {
  @extend .aktivita_nadpis;
}

.novinka_datum {
  @extend .aktivita_sekce;
  margin: 14px 0px;
}

.novinka_popis {
  @extend .aktivita_popis;
  & p {
    @extend .aktivita_popis;
  }
  & img {
    max-width: 346px;
    margin-left: -26px;
    border-radius: 5px;
  }
}
