/* ---------------- COVER PHOTO --------------*/
.coverPhoto {
  background-image:
    url(soubor('grafika/titulka/cover-photo-overlay.svg')),
    url(soubor('grafika/titulka/cover-photo-2.jpg'));
  background-size: 3px 3px, cover;
  background-position: center bottom;
  background-repeat: repeat, repeat;
  width: 100%;
  height: 38vw;
  text-align: center;
}

.coverPhoto_info {
  top: 12vw;
  position: relative;
}

.coverPhoto_datum {
  font-family: "Open Sans";
  font-size: 1vw;
  font-weight: 700;
  color: $red;
  text-transform: uppercase;
  @include media-breakpoint-down(xs) {
    font-size: 2vw;
  }
}

.coverPhoto_nadpis {
  font-family: "Eczar";
  font-weight: 600;
  font-size: 12vw;
  color: $white;
  margin: -4vw 0 -3.5vw 0;
  @include media-breakpoint-down(xs) {
    font-size: 16vw;
  }
}

.coverPhoto_podnadpis {
  font-family: "Eczar";
  font-size: 1.5vw;
  color: $white;
  @include media-breakpoint-down(xs) {
    font-size: 2vw;
  }
}


/* ---------------- ZÁKLADNÍ INFO --------------*/
.zakladniInfo_box-vnejsi {
  max-width: 1200px;
  background-color: $white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.zakladniInfo_box-vnitrni {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 32px 0px 40px 0px
}

.zakladniInfo_boxSCislem {
  width: 200px;
  text-align: center;
}

.zakladniInfo-boxSCislem-velkym {
  flex: 0 0 15%;
  @include media-breakpoint-down(xs) {
    flex: 0 0 100%
  }
}

.zakladniInfo-boxSCislem-malym {
  flex: 0 0 10%;
  @include media-breakpoint-down(xs) {
    flex: 0 0 100%
  }
}

.zakladniInfo_box-cislo {
  font-family: "Eczar";
  font-size: 4rem;
  font-weight: 600;
  color: $blue;
  @include media-breakpoint-down(xs) {
    float: left;
    text-align: right;
    width: 144px;
    font-size: 2.5rem;
  }
}

.zakladniInfo_box-popisek {
  font-family: "Open Sans";
  font-weight: 600;
  margin-top: -10px;
  font-size: $font-size-md;
  @include media-breakpoint-down(xs) {
    float: left;
    text-align: center;
    margin: 15px 0px 0 20px;
  }
}

.zakladniInfo_box-cislo-gamecon {
  font-family: "Eczar";
  font-size: 4rem;
  font-weight: 600;
  @include media-breakpoint-down(xs) {
    font-size: 2.5rem;
  }
}

.zakladniInfo_box-popisek-gamecon {
  font-family: "Open Sans";
  font-weight: 600;
  margin-top: -10px;
  font-size: $font-size-md;
  @include media-breakpoint-down(xs) {
    visibility: hidden;
    height: 0px;
  }
}

.zakladniInfo_znamenko {
  flex: 0 0 6.25%;
  width: 100px;
  text-align: center;
  color: $gray-200;
  @extend h1;
  @include media-breakpoint-down(xs) {
    flex: 0 0 100%
  }
}

.zakladniInfo_cislo {
  @extend h1;
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
  }
}
 /* Textová část */
.zakladniInfo_textovaCast {
  max-width: 700px;
  padding: 0px 30px;
}

.zakladniInfo_nadpis {
  font-family: "Eczar";
  font-size: $h1-font-size * 1.35;
  font-weight: 600;
  color: $red;
  @include media-breakpoint-down(sm) {
    font-size: $h2-font-size * 1.35;
  }
  @include media-breakpoint-down(xs) {
    font-size: $h4-font-size * 1.35;
  }
}

.zakladniInfo_odstavec {
  font-family: "Eczar";
  font-weight: 600;
}

/* --------------------- FOTKY -----------------------*/
.titulkaFotka {
  border-radius: 5px;
}

.titulkaFotka-prvni {
  width: 78%;
  margin-left: 20%;
}

.titulkaFotka-druha {
  width: 84%;
  margin: 34px 0 0 5%;
  @include media-breakpoint-down(sm) {
    margin: 12px 0 0 5%;
  }
}

.titulkaFotka-treti {
  width: 100%;
  margin-top: 40px;
  @include media-breakpoint-down(sm) {
    width: 92%;
    margin: 0px 15px 12px 15px;
  }
}

.titulkaFotka-ctvrta {
  width: 94%;
  margin-top: 32px;
}

.titulkaFotka-pata {
  width: 46%;
  margin: 40px 0 0 22%;
}


.col-md-4_fotka {
  @include media-breakpoint-up(md) {
    flex: 0 0 32.333333%;
  }
}
.col-sm-6_fotka {
  @include media-breakpoint-only(sm) {
    flex: 0 0 49%;
  }
}

/* ---------------- ROZŠÍŘENÉ INFO -----------------*/
.rozsireneInfo_box {
  width: 250px;
  margin: 40px 40px;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-down(sm) {
    margin: 8px 8px;
  }
}

.rozsireneInfo_nadpis {
  display: inline-block;
  max-width: 200px;
  margin-top: 20px;
  @extend h4;
  color: $blue;
  font-weight: 700;
}

.rozsireneInfo_cara {
  display: inline-block;
  width: 36px;
  height: 2px;
  border-radius: 1px;
  background-color: $red;
  margin: 8px 0px;
}

.rozsireneInfo_popis {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $black;
  width: 200px;
  display: inline-block;
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 12px;
  }
}

/* --------------------- CALL TO ACTION -----------------------*/
.callToAction {
  background-image: url(soubor('grafika/titulka/pozadi/call-to-action.jpg'));
  background-position-y: 70%;
  background-size: cover;
  height: 320px;
  flex-flow: column wrap;
  @include media-breakpoint-down(xs) {
    height: 160px;
  }
}

/* ----------------------- PATIČKA -------------------------*/
.paticka {
  background-color: $blue;
  padding-bottom: 40px;
}
.paticka_mail {
  font-family: "Open Sans";
  line-height: 3;
  border-bottom: 2px solid $white;
  padding-bottom: 3px;
  &:hover {
    color: $white;
    text-decoration: none;
    opacity: 0.8;
  }
}
.paticka_credits {
  line-height: 1.2;
  margin-bottom: 4px;
  padding: 0;
}
.paticka_odkaz {
  @extend .uppercase;
  @extend .text-center;
  @extend .font-size-sm;
  @extend .font-weight-bold;
  & a:hover {
    color: white;
  }
  @include media-breakpoint-down(sm) {
    font-size: $font-size-xs;
  }
}
.paticka_odkaz-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paticka_odkaz-facebook {
  color: $white;
  & img {
    margin-top: -2px;
    margin-right: 6px;
  }
}
.paticka_lomitko {
  @include media-breakpoint-up(lg) {
    &:after {
      color: $gray-300;
      font-size: 2em;
      font-weight: 400;
      content: "/";
      padding: 0px 24px 0px 24px;
    }
  }
}
