/* ---------------- COVER PHOTO --------------*/
.coverPhoto {
  background-image:
    url(soubor('grafika/titulka/cover-photo-overlay.svg')),
    url(soubor('grafika/titulka/cover-photo-1.jpg'));
  background-size: 3px 3px, cover;
  background-position: center top;
  background-repeat: repeat, repeat;
  width: 100%;
  height: 38vw;
}

.coverPhoto_nadpis {
  @extend h1;
  font-size: 4vw;
  color: $white;
  position: relative;
  left: 20vw;
  top: 12vw;
  @include media-breakpoint-down(xs) {
    font-size: 5vw;
  }
}

.coverPhoto_podnadpis {
  font-family: "Open Sans";
  font-size: 2vw;
  font-weight: 700;
  color: $red;
  margin-top: 1vw;
  @include media-breakpoint-down(xs) {
    font-size: 3vw;
  }
}


/* ---------------- ZÁKLADNÍ INFO --------------*/
.zakladniInfo {
  margin: 0px 0px 20px 0px;
  color: $black;
  & > div {
    max-width: 800px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: -80px;
  }
  & div,.col-4 {
    flex-shrink: 1;
  }
}
.zakladniInfo_cislo {
  @extend h1;
  color: $red;
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
  }
}
.zakladniInfo_popis {
  @extend h5;
  font-weight: 700;
  margin-top: -6px;
}
.zakladniInfo_lomitko {
  color: $gray-300;
  opacity: 0.25;
  font-size: 3em;
  font-weight: 400;
  @include media-breakpoint-down(xs) {
    font-size: 2em;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
  }
  &:after {
    content: "/";
  }
}

/* ---------------- PITCH -----------------*/
.pitch_sloupec {
  @include media-breakpoint-up(lg) {
    margin-left: -400px;
  }
  @include media-breakpoint-down(lg) {
    margin-left: -200px;
  }
  @include media-breakpoint-down(md) {
    margin-left: 0px;
  }
}

.pitch_obrazek {
  width: 100%;
}
.pitch_popis {
  @extend h4;
  line-height: 1.5;
  @include media-breakpoint-down(md) {
    text-align: center;
    padding: 0px 30px;
  }
}
.pitch_vlnovka {
  margin-bottom: 1.5vw;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

/* ---------------- ROZŠÍŘENÉ INFO -----------------*/
.rozsireneInfo_obrazek {
  width: 56px;
  height: 56px;
  margin-bottom: 6px;
  margin-top: 32px;
  display: inline-block;
  & path {
    fill: $red;
  }
}
.rozsireneInfo_nadpis {
  font-size: $font-size-md;
  color: $red;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }
}
.rozsireneInfo_popis {
  font-size: $font-size-sm;
  color: $black;
  width: 200px;
  display: inline-block;
  margin-top: 12px;
  padding-bottom: 24px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 12px;
  }
}

/* --------------------- FOTKY -----------------------*/
.titulkaFotka {
  width: 100%;
}
.col-md-4_fotka {
  @include media-breakpoint-up(md) {
    flex: 0 0 32.333333%;
  }
}
.col-sm-6_fotka {
  @include media-breakpoint-only(sm) {
    flex: 0 0 49%;
  }
}

/* --------------------- CALL TO ACTION -----------------------*/
.callToAction {
  background-color: $blue;
  height: 240px;
  flex-flow: column wrap;
  @include media-breakpoint-down(xs) {
    height: 160px;
  }
}

/* ----------------------- PATIČKA -------------------------*/
.paticka {
  background-color: $black;
  padding-bottom: 40px;
}
.paticka_mail {
  font-family: "Open Sans";
  line-height: 3;
  border-bottom: 2px solid $white;
  padding-bottom: 3px;
  &:hover {
    color: $white;
    text-decoration: none;
    opacity: 0.8;
  }
}
.paticka_credits {
  line-height: 1.2;
  margin-bottom: 4px;
  padding: 0;
}
.paticka_odkaz {
  @extend .uppercase;
  @extend .text-center;
  @extend .font-size-sm;
  @extend .font-weight-bold;
  & a:hover {
    color: white;
  }
  @include media-breakpoint-down(sm) {
    font-size: $font-size-xs;
  }
}
.paticka_odkaz-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paticka_odkaz-facebook {
  color: $white;
  & img {
    margin-top: -2px;
    margin-right: 6px;
  }
}
.paticka_lomitko {
  @include media-breakpoint-up(lg) {
    &:after {
      color: $gray-300;
      font-size: 2em;
      font-weight: 400;
      content: "/";
      padding: 0px 24px 0px 24px;
    }
  }
}
