.coverphoto {
  background-image:
    url(soubor('grafika/titulka/cover-photo-overlay.svg')),
    url(soubor('grafika/titulka/cover-photo-1.jpg'));
  background-size: 3px 3px, cover;
  background-position: center top;
  background-repeat: repeat, repeat;
  position: absolute;
  width: 100%;
  height: 72vh;
}
