.aktivity {
  & a {
    font-weight: bold;
  }
}
.aktivity_zahlavi {
  margin: 36px 60px 0px 0px;
  @include media-breakpoint-down(xl) {
    margin: 36px 20px 0px 0px;
  }
  @include media-breakpoint-down(lg) {
    margin: 36px 60px 0px 60px;
  }
  @include media-breakpoint-down(sm) {
    margin: 36px 10px 0px 10px;
  }
}
.aktivity_nadpis_ikona {
  width: 39px;
  height: 39px;
}
.aktivity_hlavniNadpis {
  @extend .aktivita_nadpis;
  padding-top: 4vw;
  margin-bottom: 20px;
  @include media-breakpoint-down(lg) {
    padding-top: 0;
  };
}
.aktivity_podnadpis {
  @extend h2;
  padding-top: 4vw;
}
.aktivity_zakladniInfo {
  @extend h5;
  line-height: 1.5;
  font-weight: 600;
  padding-right: 20px;
}
.aktivity_nadpis_kruh {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .drop-shadow;
  width: 57px;
  height: 57px;
  margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, $purple-dark, $purple-light);
}
.aktivita_tagy {
  padding-bottom: 8px;
}
.aktivita_nadpis {
  @extend h2;
  display: flex;
  align-items: center;
}
.aktivita_obrazek {
  width: 100%;
  height: 203px;
}
.aktivita_vlajecky {
  position: absolute;
  top: 30px;
}
.aktivita_vlajecka {
  display: inline-block;
  color: $white;
  font-size: $font-size-xs;
  font-weight: 600;
  padding: 5px 10px 5px 20px;
  background-color: $black;
  margin-top: 5px;
}
.aktivita_sekce {
  font-size: $font-size-sm;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $red;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 20px;
}
.aktivita_nadpis {
  margin-top: 32px;
}
.aktivita_vypravec {
  font-size: $font-size-sm;
  font-weight: 600;
  text-align: left;
  padding-bottom: 8px;
  & span {
    color: $gray-300;
    font-weight: normal;
  }
}
.aktivita_tag {
  font-size: $font-size-xs;
  font-weight: 700;
  display: inline-block;
  background-color: $gray-50;
  padding: 4px;
}
.aktivita_popis {
  text-align: left;
  font-size: $font-size-base * .8;
  color: $gray-300;
  line-height: 1.6;
  padding-bottom: 16px;
  & p {
    text-align: left;
    font-size: $font-size-base * .8;
    color: $gray-300;
    line-height: 1.6;
  }
  & p:last-child {
    margin-bottom: 0;
  }
}
.aktivita_info {
  overflow: hidden;
  width: 100%;
  padding-bottom: 12px;
  & table {
    font-size: $font-size-base * .8;
    color: $gray-300;
    line-height: 1.6;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.aktivita_info-leva {
  text-align: left;
  float: left;
}
.aktivita_info-prava {
  text-align: right;
  float: right;
}
.aktivita_tabulka_bunka-cas {
  width: 38px;
}
.aktivita_tabulka_bunka-cena {
  text-align: left;
  width: 50px;
}
.aktivita_cara {
  width: 300px;
  height: 3px;
  background-color: $gray-100;
  margin-bottom: 6px;
  display: inline-block;
}
.aktivita_ikona_cas {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  padding-bottom: 2px;
  text-align: right;
}
.aktivita_ikona_cena {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  padding-bottom: 2px;
  text-align: right;
}
.aktivita_ikona_sipka_dolu{
  background: url(soubor('grafika/ikony/sipka_dolu.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  display: inline-block;
}
.aktivita_ikona_sipka_nahoru{
  background: url(soubor('grafika/ikony/sipka_nahoru.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  display: inline-block;
}
