.aktivity {
  & a {
    font-weight: bold;
  }
}
.aktivity_nadpis {
  @extend h2;
  display: flex;
  align-items: center;
}
.aktivity_nadpis_kruh {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .drop-shadow;
  width: 57px;
  height: 57px;
  margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, $purple-dark, $purple-light);
}
.aktivity_nadpis_ikona {
  width: 39px;
  height: 39px;
}
.aktivity_zakladniInfo {
  @extend h5;
  line-height: 1.5;
  margin: 36px 60px 0px 0px;
  font-weight: 600;
}
.aktivity_obrazek {
  width: 100%;
  height: 203px;
}
.aktivity_vlajecky {
  position: absolute;
  top: 30px;
}
.aktivity_vlajecka {
  display: inline-block;
  color: $white;
  font-size: $font-size-xs;
  font-weight: 600;
  padding: 5px 10px 5px 20px;
  background-color: $black;
  margin-top: 5px;
}
.aktivity_sekce {
  font-size: $font-size-base * .75;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $red;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 20px;
}
.aktivity_vypravec {
  @extend .aktivity_sekce;
  color: $gray-300;
}
.aktivity_nadpis {
}
.aktivity_popis {
  text-align: left;
  font-size: $font-size-base * .8;
  color: $gray-300;
  line-height: 1.6;
}
.aktivity_info {
  font-size: $font-size-base * .8;
  color: $gray-300;
  line-height: 1.6;
  padding-bottom: 12px;
}
.aktivity_cara {
  width: 300px;
  height: 3px;
  background-color: $gray-100;
  margin-bottom: 6px;
  margin-top: 16px;
  display: inline-block;
}
.aktivity_ikona_cas {
  width: 16px;
  opacity: 0.3;
  padding-bottom: 2px;
  margin-right: 8px;
}
.aktivity_ikona_sipka_dolu{
  background: url(soubor('grafika/ikony/sipka_dolu.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  margin-top: 20px;
  display: inline-block;
}
.aktivity_ikona_sipka_nahoru{
  background: url(soubor('grafika/ikony/sipka_nahoru.png')) no-repeat scroll left top;
  width: 13px;
  padding-top: 8px;
  margin-top: 20px;
  display: inline-block;
}
