.box_obal {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px 0px 26px 10px;
}

.box_ohraniceni {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 10px;
  left: 10px;
  outline: 2px solid $black;
}

.box_ohraniceni-cervene {
  outline-color: $red;
}

.boxObsah_pl-10px {
  padding-left: 10px;
}

.boxObsah_pl-22px {
  padding-left: 30px;
  padding-right: 30px;
}

.sirka-1200 {
  max-width: 1200px;
}

.box-250 {
  background-color: $white;
  width: 360px;
}
