/* ---------------- ZÁKLADNÍ -----------------*/
.box_obsah {
  @extend .drop-shadow;
  position: relative;
  float: right;
  margin: 212px 10px 10px -10px;
  @include media-breakpoint-down(xs) { // ošetření kvůli mansonry
    margin-right: -10px;
  }
}
.box_obsah-5px {
  margin: -10px 5px 5px -10px;
}
.box_ohraniceni {
  position: relative;
  float: right;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  margin: -202px 0 0 10px;
  border: 2px solid $black;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
}
/* ---------------- MODIFIKÁTORY -----------------*/
.box_obal_aktivita {
  @include media-breakpoint-down(xs) { // ošetření kvůli mansonry
    left: -14px !important;
    margin-left: 10px;
  }
}
.box_ohraniceni-cervene {
  outline-color: $red;
}
.box_ohraniceni-bile {
  outline-color: $white;
}
.pl-10px {
  padding-left: 10px;
}
.pl-30px {
  padding-left: 30px;
}
.pr-30px {
  padding-right: 30px;
}
.box-360 {
  background-color: $white;
  width: 360px;
  /*@include media-breakpoint-down(xs) {
    width: 340px; // ošetření kvůli mansonry
  }*/
}

.box-tlacitko {
  background-color: $blue;
  border-radius: 4px;
  font-size: $font-size-sm;
}

.box-tlacitko-ohraniceni {
  position: relative;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border: 2px solid $blue;
  border-radius: 4px;
  padding: 6px 34px 14px 34px;
  & :hover {
    text-decoration: underline;
  }
}

.box-tlacitko-obsah {
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  margin-left: -5px;
}

.box-tlacitko-bile {
  background-color: $white;
  & .box-tlacitko-ohraniceni {
    border-color: $white;
  }
  & .box-tlacitko-obsah {
    color: $black;
  }
}

.box_obal {
  @include media-breakpoint-down(xs) {
    width: 92%;
  }
}
