.container-fluid { // Základní nastavení kontejneru
  padding: 0 0 0 0;
}
.sirka-1200 { // Používá se pro kontejner
  max-width: 1200px;
}
.obsahovaStranka {
  line-height: 1.7;
  max-width: 800px;
  & h1,h2,h3,h4,h5 {
    color: $red;
  }
  & h2 {
    margin-top: 60px;
  }
  & ol, ul {
    margin: 0 0 1.5rem;
    padding: 0;
    counter-reset: itrem;
    & li {
      margin-bottom: 12px;
      padding: 0 0 0 0rem;
      list-style-type: none;
      counter-increment: item;
      text-indent: -1rem;
    }
    & li:before {
      display: inline-block;
      width: 1rem;
      padding-right: 1rem;
      font-weight: bold;
      text-align: right;
      content: counter(item);
    }
  }
  & a {
    color: $red;
  }
  & .skryty {
    text-indent: 0rem;
    display: none;
    overflow: hidden; // hack: skákání při jQuery slideToggle
  }
  & .infobox {
    line-height: 1.9;
    font-size: 0.875rem;
    padding: 12px 18px;
    margin: 24px -24px;
    background-color: $white;
    @extend .drop-strong-shadow;
  }
}
.row {       // Každý řádek má nad sebou mezeru
  margin-top: 4vw;
}
.clickable:hover { // Klikací element
  cursor: pointer;
}
.drop-shadow { // základní stínování většiny prvků
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
}

.drop-strong-shadow { // silné stínování
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

/* ------------- Hidden elementy v bootstrapu (měly by fungovat, nefungují) ------------ */
.hidden-lg-up {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.hidden-xl-down {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.hidden-lg-down {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.hidden-md-down {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
