#hlavniMenu { //nepodporuje IE11, to-do: fallback v js?
  position: sticky;
  top: 0px;
  margin-bottom: -51px;
}
.container-fluid { // Základní nastavení kontejneru
  padding: 0 0 0 0;
}
.sirka-1200 { // Používá se pro kontejner
  max-width: 1200px;
}
.row {       // Každý řádek má nad sebou mezeru
  margin-top: 4vw;
}
.clickable:hover { // Klikací element
  cursor: pointer;
}
.drop-shadow { // základní stínování většiny prvků
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
}

/* ------------- Hidden elementy v bootstrapu (měly by fungovat, nefungují) ------------ */
.hidden-lg-up {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.hidden-lg-down {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.hidden-md-down {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
